{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cuenta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/eliminar_cuenta.css' %}">
</head>

<body>
    <div class="alert-container">
        {% if message_success_delete %}
        <div class="alert alert-success">{{ message_success_delete }}</div>
        {% endif %}
        {% if message_sure_delete %}
        <div class="alert alert-warning">{{ message_sure_delete }}</div>
        <div>
            <form method="post" action="{% url 'eliminar_cuenta' %}">
                {% csrf_token %}
                <button type="submit" value="SI" name="valida">SI</button>
                <button type="submit" value="NO" name="valida">NO</button>
            </form>
        </div>
        {% endif %}
    </div>

    <form class="valida_cuenta" method="post" action="{% url 'eliminar_cuenta' %}">
        {% csrf_token %}
        <input placeholder="Codigo cuenta" class="valida_cuenta" id="valida_cuenta" name="valida_cuenta">
        <button type="submit" class="button_validate">Validar cuenta</button>
    </form>

    <form id="eliminar-cuenta-form" method="post" action="{% url 'eliminar_cuenta' %}">
        {% csrf_token %}
        <h2>Datos de la cuenta</h2>
        <div class="form-group">
            <label>Codigo de la cuenta : {{ cuenta.codigo }}</label>
        </div>
        <div class="form-group">
            <label>Tipo cuenta : {{ cuenta.nombre }}</label>
        </div>
        <div class="form-group">
            <label>Estado cuenta : {{ cuenta.estado }}</label>
        </div>

        <div class="form-group" style="width: 100%;">
            <button type="submit" id="eliminar_cuenta" name="eliminar_cuenta" value="eliminar">Eliminar</button>
        </div>
        <a href="{% url 'administrador' %}" class="custom-button">Volver</a>
    </form>
</body>

</html>