{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cliente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/eliminar_cliente.css' %}">
</head>

<body>
    <div class="alert-container">
        {% if message_success_delete %}
        <div class="alert alert-success">{{ message_success_delete }}</div>
        {% elif message_cancel_delete %}
        <div class="alert alert-info">{{ message_cancel_delete }}</div>
        {% elif message_error_delete %}
        <div class="alert alert-danger">{{ message_error_delete }}</div>
        {% endif %}
        {% if message_sure_delete %}
        <div class="alert alert-warning">{{ message_sure_delete }}</div>
        <div>
            <form method="post" action="{% url 'eliminar_cliente' %}">
                {% csrf_token %}
                <button type="submit" value="SI" name="valida">SI</button>
                <button type="submit" value="NO" name="valida">NO</button>
            </form>
        </div>
        {% endif %}
    </div>

    <form class="valida_cliente" method="post" action="{% url 'eliminar_cliente' %}">
        {% csrf_token %}
        <input placeholder="Cédula cliente" id="valida_cedula" name="valida_cedula">
        <button type="submit" class="btn btn-primary">Validar cédula</button>
    </form>

    <form id="eliminar-cliente-form" method="post" action="{% url 'eliminar_cliente' %}">
        {% csrf_token %}
        <h2>Eliminar cliente</h2>
        <div class="form-group">
            <label>Nombre: </label>
            <span>{{ cliente.nombre }}</span>
        </div>
        <div class="form-group">
            <label>Apellido: </label>
            <span>{{ cliente.apellido }}</span>
        </div>
        <div class="form-group">
            <label>Teléfono: </label>
            <span>{{ cliente.telefono }}</span>
        </div>
        <div class="form-group">
            <label>Dirección: </label>
            <span>{{ cliente.direccion }}</span>
        </div>
        <div class="form-group">
            <label>Ciudad: </label>
            <span>
                {% for ciudad in ciudades %}
                {% if cliente.ciudad == ciudad.codigo %}
                {{ ciudad.nombre }}
                {% endif %}
                {% endfor %}
            </span>
        </div>

        <div class="form-group" style="width: 100%;">
            <button type="submit" id="eliminar_cliente" name="eliminar_cliente" value="eliminar">Eliminar</button>
        </div>
        <a href="{% url 'administrador' %}" class="custom-button">Volver</a>
    </form>
</body>

</html>
