<header>
    <h1>Lista de clientes</h1>
</header>
<div class="alert-container">
    {% if message_error_filter %}
    <div class="alert alert-info">{{ message_error_filter }}</div>
    {% endif %}
</div>
<form class="" method="post" action="{% url 'listar_clientes' %}">
    {% csrf_token %}
    <div class="input-group input-group-sm mb-3">
        <span> Ingrese la cedula o nombre de cliente  </span>
        <input type="text" class="form-control" name="filtro" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
        <button type="button" class="btn btn-secondary search-button" value="true">Buscar</button>
    </div>
</form>
<nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Código Cuenta</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.0 }}</td>
                <td>{{ cliente.1 }}</td>
                <td>{{ cliente.2 }}</td>
                <td>{{ cliente.3 }}</td>
                <td>{{ cliente.4 }}</td>
                <td>{{ cliente.5 }}</td>
                <td>{{ cliente.6 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</nav>