<h1>Lista de Cuentas</h1>
<div class="alert-container">
    {% if message_error_filter %}
    <div class="alert alert-info">{{ message_error_filter }}</div>
    {% endif %}
</div>
<table class="table table-striped">
    <form method="post" action="{% url 'listar_cuentas' %}">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3">
            <span> Ingrese el codigo de la cuenta </span>
            <input type="text" class="form-control" name="filtro" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
            <button type="button" class="btn btn-secondary search-buttonC" value="true">Buscar</button>
        </div>
    </form>
    <form method="post" action="{% url 'listar_cuentas' %}">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary activa-button" value="activa">Activa</button>
        <button type="button" class="btn btn-secondary inactiva-button" value="inactiva">Inactiva</button>
        <button type="button" class="btn btn-secondary ahorros-button" value="ahorros">Ahorros</button>
        <button type="button" class="btn btn-secondary corriente-button" value="corriente">Corriente</button>
    </form>
    <thead>
        <tr>
            <th>Código de la cuenta</th>
            <th>Tipo de cuenta</th>
            <th>Estado de la cuenta</th>
            <th>Saldo de la cuenta</th>
            <th>Reportes</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in cuentas %}
        <tr>
            <td>{{ cuenta.0 }}</td>
            <td>{{ cuenta.1 }}</td>
            <td>{{ cuenta.2 }}</td>
            <td>{{ cuenta.3 }}</td>
            <td>
                <form method="post" action="{% url 'listar_cuentas' %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary report-button"
                        value="{{ cuenta.0 }}">Reporte</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>