{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/registro_cuenta.css' %}">
</head>

<body>
    <div class="alert-container">
        {% if message_error_duplicated %}
        <div class="alert alert-error">{{ message_error_duplicated }}</div>
        {% endif %}
        {% if message_error_assign_cliente %}
        <div class="alert alert-error">{{ message_error_assign_client }}</div>
        {% endif %}
        {% if message_succes_registro %}
        <div class="alert alert-success">{{ message_succes_registro }}</div>
        {% endif %}
    </div>

    <header>
        <h2>Registro</h2>
    </header>
    <form method="post" action="{% url 'registro_cuenta' %}" class="registro-cuenta row g-3">
        {% csrf_token %}
        <div class="col-md-6">
            <input type="text" placeholder="Codigo de la cuenta" id="codigo_cuenta" name="codigo_cuenta" required>
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="Cedula del cliente a asociar" id="cedula_cliente" name="cedula_cliente"
                required>
        </div>
        <br>
        <label for="nombre_cuenta">Tipo de cuenta:</label>
        <select id="nombre_cuenta" name="nombre_cuenta">
            <option value=""> </option>
            <option value="Ahorros">Ahorros</option>
            <option value="Corriente">Corriente</option>
        </select>
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value=""> </option>
            <option value="Activa">Activa</option>
            <option value="Inactiva">Inactiva</option>
        </select>
        <br>
        <label for="saldo">Dinero a ingresar:</label>
        <input type="tel" id="saldo" name="saldo" required>
        <br>
        <div class="col-12">
            <button type="submit">Enviar</button>
        </div>
        <br>
        <a href="{% url 'administrador' %}" class="custom-button">Volver</a>
    </form>
</body>

</html>