body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
}


label {
    display: block; 
    margin-top: 10px; 
    font-weight: bold; 
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #1e0285; 
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1e0285; 
}


.alert-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;  
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-success {
    color: black;
    background-color: #a2ffb1;
    border-color: #ebccd1;
}

.alert-warning {
    color: black;
    background-color: #fff1a2;
    border-color: #ebccd1;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.custom-button {
    background-color: #1e0285;
    color: white;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: background-color 0.3s ease;
    display: inline-block; /* Asegura que se comporte como un botón */
}

.custom-button:hover {
    background-color: #2b1ba6;
}
