/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    height: 100vh;
}

/* Menú lateral */
#menu {
    background-color: #343a40;
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

#menu h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menu ul li a:hover {
    background-color: #495057;
}

/* Submenús */
.submenu {
    display: none;
    padding-left: 20px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu a {
    background-color: #495057;
    margin-bottom: 5px;
}

.submenu a:hover {
    background-color: #6c757d;
}

/* Área de contenido */
#content-area {
    margin-left: 270px; /* Espacio para el menú */
    padding: 20px;
    width: calc(100% - 270px);
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Títulos y párrafos en el contenido */
#content-area h3 {
    color: #343a40;
    margin-bottom: 20px;
}

#content-area p {
    color: #555;
}
